.container {
  max-width: 400px;
  padding: 150px 0;
  text-align: center;
}

input:hover{
  border: 2px solid #9c0000;
}

@media (max-width: 576px) {
  .container {
    padding: 50px 0 75px 0;
  }
}
