a {
  color: grey;
  font-weight: bold;
}

a:hover {
  color: #f29e20;
}

.btn {
  width: 45%;
}

header{
  margin-bottom: -20px;
}

@media (max-width: 576px) {

  li a{
    font-size: 0.8rem;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .btn {
    font-size: 0.8rem;
    height: 20px;
    line-height: 0;
    margin-top: -15px;
  }
}
