<div class="container-flex sticky-top bg-white">
  <header class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="./assets/logo-soprasteria-2.png">
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-3 link-secondary">Home</a></li>
      <li><a href="#section2" class="nav-link px-3">Features</a></li>
      <li><a href="#section3" class="nav-link px-3">Benefits</a></li>
      <li><a href="#section5" class="nav-link px-3">Testimonials</a></li>
      <li><a href="#section6" class="nav-link px-3">Plans</a></li>
    </ul>

    <div class="col-12 col-lg-3 text-center">
      <a href="#section7"><button type="button" class="btn btn-primary me-2">Sign-up</button></a>
      <a href="#section7"><button type="button" class="btn btn-outline-primary">Login</button></a>
    </div>
  </header>
  <hr>
</div>
