<div class="container col-xxl-8 px-4 py-sm-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-3 pb-5 py-sm-5">
    <div class="col-12 col-sm-8 col-lg-6">
      <img src="assets/rubberduck.jpg" class="d-block mx-lg-auto img-fluid w-100" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">The Future of Your Business Starts Here</h1>
      <p class="lead">Discover innovative solutions that empower your business to reach new heights. <br>Achieve more with powerful tools designed to meet your needs.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="#section6"><button type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2 w-100">START YOUR FREE TRIAL</button></a>
      </div>
    </div>
  </div>
  <hr class="py-2">
</div>
