<hr>
<div class="container col-xxl-8 px-4 py-sm-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-12 col-sm-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Why Choose Our Platform?</h1>
      <p class="lead">Our platform offers unique benefits that set it apart from the competition. With cutting-edge technology and a customer-centric approach, we help businesses thrive in the modern landscape.</p>
    </div>
    <div class="col-12 col-sm-6">
      <img src="assets/gafas-de-sol.jpg" class="d-block mx-lg-auto img-fluid w-100" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>


    <div class="col-12 col-sm-6">
      <img src="assets/duck.jpg" class="d-block mx-lg-auto img-fluid w-100" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-12 col-sm-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">A Solution for Every Challenge</h1>
      <p class="lead">No matter the complexity of your operations, our platform is designed to meet the demands of businesses of all sizes. Explore how we can help streamline your processes and drive growth.</p>
    </div>
  </div>
</div>
