<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
  <title>Carlos Saez</title>
</head>
<body>
  <app-header></app-header>
  <app-hero id="section1"></app-hero>
  <app-features id="section2"></app-features>
  <app-benefits id="section3"></app-benefits>
  <app-benefit-icons id="section4"></app-benefit-icons>
  <app-testimonials id="section5"></app-testimonials>
  <app-plan id="section6"></app-plan>
  <app-sign-in id="section7"></app-sign-in>
  <app-footer></app-footer>
</body>
</html>
