<div class="container-fluid py-sm-5 px-4">
  <main class="container">
    <div class="pricing-header p-4 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Choose your plan</h1>
      <p class="fs-5 text-body-secondary">Choose a plan that's right for your growing team. Simple Pricing. No hidden charges</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center py-4">
      <div class="col">
        <div class="card mb-4 rounded-4 shadow-sm h-100">
          <div class="card-header py-3">
            <h4 class="my-0">Basic</h4>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h1 class="card-title pricing-card-title fw-bold">$9</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>3 Projects</li>
                <li>250 objects per project</li>
                <li>One Active User</li>
              </ul>
            </div>
            <button onclick="alert('You have purchased the Basic plan')" type="button" class="mx-auto w-75 btn btn-lg btn-outline-primary">Choose this plan</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-4 shadow-sm h-100">
          <div class="card-header py-3">
            <h4 class="my-0">Professional</h4>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h1 class="card-title pricing-card-title fw-bold">$29</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20 Projects</li>
                <li>800 objects per project</li>
                <li>10 Active Users</li>
                <li>Team Collaboration</li>
              </ul>
            </div>
            <button onclick="alert('You have purchased the Professional plan')" type="button" class="mx-auto w-75 btn btn-lg btn-primary">Choose this plan</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-4 shadow-sm h-100">
          <div class="card-header py-3">
            <h4 class="my-0">Enterprise</h4>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h1 class="card-title pricing-card-title fw-bold">$99</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Unlimited Projects</li>
                <li>No object limit</li>
                <li>Unlimited Users</li>
                <li>Team Collaboration</li>
                <li>Priority support</li>
              </ul>
            </div>
            <button onclick="alert('You have purchased the Enterprise plan')" type="button" class="mx-auto w-75 btn btn-lg btn-outline-primary">Choose this plan</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
